[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/tinyobjloader"]
	path = extern/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
